.DS_Store
example-user-tracker/bin/example-user-tracker_debug
example-user-tracker/build/
example-user-tracker/example-user-tracker.qbs.user
example/bin/example_debug
example/bin/example
example/example.qbs.user
example-assimp-model/bin/example-assimp-model_debug
example-assimp-model/example-assimp-model.qbs.user
example-user-tracker/bin/example-user-tracker
example/.vs/
example/example.VC.opendb
example-user-tracker/.vs/
example-user-tracker/example-user-tracker.sdf
example-user-tracker/obj/
example-user-tracker/bin/assimp.dll
example-user-tracker/bin/FreeImage.dll
example-user-tracker/bin/NiTE2.dll
example-user-tracker/bin/OpenNI.ini
example-user-tracker/bin/OpenNI2.dll
example-user-tracker/bin/Zlib.dll
example-user-tracker/bin/assimp.dll
example-user-tracker/bin/example-user-tracker_debug.exe
example-user-tracker/bin/example-user-tracker_debug.exp
example-user-tracker/bin/example-user-tracker_debug.ilk
example-user-tracker/bin/example-user-tracker_debug.lib
example-user-tracker/bin/example-user-tracker_debug.pdb
example-user-tracker/bin/fmodex64.dll
example-user-tracker/bin/fmodexL64.dll
example-user-tracker/bin/freetype.dll
example-user-tracker/bin/glut32.dll
example-user-tracker/bin/libeay32.dll
example-user-tracker/bin/ssleay32.dll
example-user-tracker/example-user-tracker.sdf
example-user-tracker/obj/
example-user-tracker/bin/example-user-trackerDebug.app/

